<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>VEX Scout</title>

<!-- CSS -->
<link rel="stylesheet" href="../stylesheets/bootstrap.css">
<link rel="stylesheet" href="../stylesheets/style.css">

<script src="../js/Charts/Chart.js"></script>
